streamlit==1.35.0
river==0.20.1
pandas==2.2.2
scikit-learn==1.4.2
onnx==1.16.0
onnxruntime==1.18.0
joblib==1.4.2
PyYAML==6.0.1
aiohttp==3.9.5
altair==5.3.0
matplotlib==3.8.4
seaborn==0.12.2
tqdm==4.66.4